In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('heart.csv')

In [5]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [6]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [7]:
df = pd.get_dummies(df,drop_first=True)
df.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,1,1,0,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,1,1,0,0,0,1,0,0,1
3,48,138,214,0,108,1.5,1,0,0,0,0,1,0,1,1,0
4,54,150,195,0,122,0.0,0,1,0,1,0,1,0,0,0,1

In [8]:
x = df.drop('HeartDisease',axis = 'columns')
x.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,1,1,0,0,1,0,0,0,1
1,49,160,180,0,156,1.0,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,1,1,0,0,0,1,0,0,1
3,48,138,214,0,108,1.5,0,0,0,0,1,0,1,1,0
4,54,150,195,0,122,0.0,1,0,1,0,1,0,0,0,1

In [9]:
y = df.HeartDisease
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [10]:
from sklearn.preprocessing import StandardScaler

In [12]:
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled

array([[-1.4331398 ,  0.41090889,  0.82507026, ..., -0.8235563 ,
        -1.00218103,  1.15067399],
       [-0.47848359,  1.49175234, -0.17196105, ..., -0.8235563 ,
         0.99782372, -0.86905588],
       [-1.75135854, -0.12951283,  0.7701878 , ..., -0.8235563 ,
        -1.00218103,  1.15067399],
       ...,
       [ 0.37009972, -0.12951283, -0.62016778, ...,  1.21424608,
         0.99782372, -0.86905588],
       [ 0.37009972, -0.12951283,  0.34027522, ..., -0.8235563 ,
         0.99782372, -0.86905588],
       [-1.64528563,  0.30282455, -0.21769643, ..., -0.8235563 ,
        -1.00218103,  1.15067399]])

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.2,random_state=30)

In [15]:
len(x_train)

734

In [16]:
len(x)

918

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [18]:
lr = LogisticRegression()
svc = SVC()
rf = RandomForestClassifier()

In [19]:
lr.fit(x_train,y_train)
svc.fit(x_train,y_train)
rf.fit(x_train,y_train)

RandomForestClassifier()

In [20]:
lr.score(x_test,y_test)

0.8369565217391305

In [21]:
svc.score(x_test,y_test)

0.8641304347826086

In [22]:
rf.score(x_test,y_test)

0.8586956521739131

In [23]:
from sklearn.decomposition import PCA

In [35]:
pca = PCA(0.95)
x_pca = pca.fit_transform(x)
x_pca.shape

(918, 2)

In [36]:
x.shape

(918, 15)

In [37]:
x_pca

array([[ 92.31131546, -29.44565085],
       [-17.14366463, -13.73602879],
       [ 81.90671738,  38.22351056],
       ...,
       [-69.00377342,  17.33460169],
       [ 39.20676111, -33.59195039],
       [-21.4375636 , -37.21660999]])

In [38]:
x_train_pca,x_test,y_train,y_test = train_test_split(x_pca,y,test_size=0.2,random_state= 30)

In [39]:
lr.fit(x_train_pca,y_train)

LogisticRegression()

In [40]:
lr.score(x_test,y_test)

0.7010869565217391

In [41]:
svc.fit(x_train_pca,y_train)

SVC()

In [42]:
svc.score(x_test,y_test)

0.7445652173913043

In [43]:
rf.fit(x_train_pca,y_train)

RandomForestClassifier()

In [44]:
rf.score(x_test,y_test)

0.6956521739130435